@tailwind base;
@tailwind components;
@tailwind utilities;

/* ---------------- RESET ---------------- */

html,
body {
  margin: 0;
  padding: 0;

  overflow-x: hidden;

  font-family: Inter, system-ui, sans-serif;

  background: #050816;
  color: white;
}

* {
  box-sizing: border-box;
}

#root {
  overflow-x: hidden;
}

/* ---------------- UNIVERSAL ---------------- */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* ---------------- FONT RENDER ---------------- */

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}